@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
  --DarkBlueButtons: #1c2431;
  --DarkBlueMain: #181f2a;
  --DarkBlueFooter: #0b1523;
  --DarkBlueCards: #202a3c;
  --Cyan: #65e2d9;
  --Blue: #339ecc;
  --LightRed: #ff4242;
}
/*body type:
  font-family: 'Open Sans', sans-serif;
  Headings, Call-to-actions, Header Navigation
  font-family: 'Raleway', sans-serif;
*/
* {
  box-sizing: border-box;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  margin: 0 auto;
  text-align: center;
}
.wrapper {
  background-color: var(--DarkBlueButtons);
}
header {
  background-color: var(--);
  position: fixed;
  top: 0;
  // margin: 0 auto;
  width: 100vw;
}
.navbar {
  display: grid;
  min-height: 64px;
  grid-auto-flow: column;
  grid-gap: 20px;
  margin: 0 20px 0 20px;
}
.nav-logo {
  display: grid;
  align-content: center;
  justify-content: start;
  margin-top: 25px;
  width: 60px;
}
.nav-list {
  display: grid;
  justify-content: end;
  align-content: center;
  grid-auto-flow: column;
  grid-gap: 25px;
  font-size: 0.85em;
}
.nav-list a {
  color: white;
  text-decoration: none;
}
li:first-child {
  flex-grow: 4;
}
/* =============top section*=================*/
.container_topsection {
  display: inline-block;
  text-align: center;
  background-size: cover;
  padding-bottom: 25px;
  width: 100vw;
}
img.curvyMobile {
  outline: 2px dotted red;
  width: 100vw;
  position: relative;
  margin-top: -20px;
  z-index: -1;
}
/* ==================topsection-text============*/
.container_topsection-text {
  line-height: 1em;
  margin-top: -124px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}
.container_topsection-text h1 {
  font-family: "Raleway", sans-serif;
  font-size: 1.25em;
  line-height: 1.5em;
  margin: 16px 25px auto 25px;
}
.container_topsection-text p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.85em;
  font-weight: 200;
  line-height: 1.35em;
  margin: 10px 27px;
}
/* ============ buttons ==================*/
.myButton {
  background-color: var(--Blue);
  border-radius: 50px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 21px;
  padding: 15px 31px;
  text-decoration: none;
  margin-bottom: 20px;
}
.myButton:hover {
  background-color: #5cbf2a;
}
.myButton:active {
  position: relative;
  top: 1px;
}
/* white button*/
#btn-white {
  background-color: #fff;
  border-radius: 28px;
  display: inline-block;
  cursor: pointer;
  color: #000;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
}
#btn-white:hover {
  background-color: #5cbf2a;
}
#btn-white:active {
  position: relative;
  top: 1px;
}
/*========cute icons=======midsection-grid =====*/
.container_midsection-grid {
  display: block;
  margin-top: 110px;
}
.flx {
  padding: 20px;
  text-align: center;
}
.container_midsection-illustration-and-text {
  background-size: 60% 40%;
}
/* ====================Stay productive===========*/
.midsection-StayProd {
  padding-top: 55px;
}
#stayProductive-text {
  text-align: left;
  padding: 0 25px 0 25px;
  font-weight: 200;
}
/* ==============Illustrstions================*/
.illustration {
  background-color: var(--DarkBlueButtons);
  margin-top: 80px;
  width: 100%;
}
.illustration-2 {
  width: 90%;
}
p {
  font-size: 0.85em;
}
h4 {
  color: var(--Cyan);
  font-size: 0.5em;
  text-decoration: underline;
  text-decoration-color: var(--Cyan);
  -webkit-text-decoration-color: #65e2d9; /* Safari */
}
/* =================quotes============*/
.quotes {
  display: block;
  padding: 115px 0 0 30px;
}
/* =================cards============*/
.cards {
  width: 90%;
  margin: 0 auto;
  text-align: left;
}
.card-profiles {
  background-color: var(--DarkBlueCards);
  border-radius: 16px;
  font-size: 0.85em;
  padding: 15px;
  word-spacing: 0.15em;
  margin-bottom: 20px;
  line-height: 1.5em;
}
.card_profile_text {
  margin-bottom: 25px;
}
.card_profile-team {
  display: flex;
  gap: 13px;
}
.card_profile-pic {
  border-radius: 50px;
  width: 50px;
  height: 50px;
}
.card_profile-credits {
  font-size: 0.85em;
  margin-top: 10px;
  line-height: 1.25em;
}
.card_profile-credits h5 {
  font-weight: 200;
  margin-top: 3px;
}
/* =====================call to action=========*/
.backgroundColorMain {
  background-color: var(--DarkBlueMain);
}
.card_call-to-action {
  background-color: var(--DarkBlueCards);
  border-radius: 16px;
  margin: 90px auto -90px;
  position: relative;
}
.card_call-to-action-text {
  padding: 20px;
}
/* ==================DkFooterArea============*/
.dkFooterArea_large-logo {
  padding-top: 140px;
  margin-left: 25px;
  text-align: left;
}
.darkFooterArea {
  background-color: var(--DarkBlueFooter);
  // display: flex;
  // flex-direction: column;
}
.main-list {
  width: 320px;
  margin-left: 25px;
  text-align: left;
  font-size: 0.85em;
}
.contact-location {
  margin-bottom: 10px;
}
.contact-icon {
  padding-right: 20px;
}
.about-list ul {
  line-height: 2em;
  margin-left: 36px;
  list-style-type: none;
  text-align: left;
}
/* ==================Media Query============*/
@media screen and (min-width: 560px) {
  .container_midsection-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 50px auto;
  }
  .illustration {
    width: min(90%, 600px);
  }
  /* Illustration-2 */
  .illustration-2 {
    width: 100%;
  }
  .midsection-StayProd {
    align-items: center;
    display: flex;
    margin: 0 auto;
    width: 1000px;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
    max-width: 1000px;
  }
  .card_call-to-action {
    width: 50%;
  }
  .darkFooterArea {
    display: flex;
  }
}
