@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
  --DarkBlueButtons: #1c2431;
  --DarkBlueMain: #181f2a;
  --DarkBlueFooter: #0b1523;
  --DarkBlueCards: #202a3c;
  --Cyan: #65e2d9;
  --Blue: #339ecc;
  --LightRed: #ff4242;
}
/*body type:
  font-family: 'Open Sans', sans-serif;
  Headings, Call-to-actions, Header Navigation
  font-family: 'Raleway', sans-serif;
*/

* {
  box-sizing: border-box;
  padding: 0;
}
body {
  background-color: darkslategrey;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  margin: 0 auto;
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  margin: 0 auto;
  width: 100vw;
}
.navbar {
  display: grid;
  min-height: 64px;
  grid-auto-flow: column;
  grid-gap: 20px;
  margin: 0 20px 0 20px;
}

.nav-logo {
  display: grid;
  align-content: center;
  justify-content: start;
  margin-top: 25px;
  width: 60px;
}
.nav-list {
  display: grid;
  justify-content: end;
  align-content: center;
  grid-auto-flow: column;
  grid-gap: 25px;
  font-size: 0.85em;
}
.nav-list a {
  color: white;
  text-decoration: none;
}
li:first-child {
  flex-grow: 4;
}
/*top section*/
/* =============top section*=================*/
.container_topsection {
  display: inline-block;
  text-align: center;
  background-size: cover;
  padding-bottom: 25px;
  width: 100vw;
}
.curvyMobile img {
  width: 100vw;
  position: relative;
  margin-top: -20px;
  z-index: -1;
}
/* ==================topsection-text============*/
.container_topsection-text {
  line-height: 1em;
  margin-top: -124px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}
/* ==============================*/
/* buttons */

button {
  outline: none;
  background-color: var(--Blue);
  border-radius: 50px;
  font-size: 1.95em;
  color: #fff;
  width: 250px;
}

/* white button*/
.btn-white {
  background-color: #fff;
  border-radius: 50px;
}

/*========cute icons=======midsection-grid =====*/

.container_midsection-grid div {
  display: block;
  margin-top: 120px;
}
.flx {
  padding: 20px;
  text-align: center;
}

.container_midsection-illustration-and-text {
  background-size: 60% 40%;
}
/* ==============Stay productive================*/
.container_midsection-StayProd {
  padding-top: 55px;
}
#stayProductive-text {
  text-align: left;
  padding: 0 25px 0 25px;
}

/* ==============Illustrstions================*/
.illustration {
  background-color: var(--DarkBlueButtons);
  margin-top: 80px;
  width: 90%;
}
.illustration-2 {
  width: 90%;
}
h1 {
  font-family: "Raleway", sans-serif;
  font-size: 1.3em;
  line-height: 1.4em;
}
p {
  font-size: 0.85em;
}

h4 {
  color: var(--Cyan);
  font-size: 0.5em;
  text-decoration: underline;
  text-decoration-color: var(--Cyan);
  -webkit-text-decoration-color: #65e2d9; /* Safari */
}
/* =================cards============*/

.quotes {
  display: block;
  padding: 50px 0 0 25px;
}
/* =================cards============*/
.cards {
  font-size: 0.86em;
  width: 90%;
  margin: 0 auto;
  text-align: left;
}
.card-profiles {
  background-color: var(--DarkBlueCards);
  border-radius: 16px;
  padding: 15px;
  margin-bottom: 20px;
}
.card_profile-team {
  display: flex;
  gap: 13px;
}

.card_profile-pic {
  border-radius: 50px;
  width: 50px;
  height: 50px;
}
.card_profile_text {
  font-size: 0.85em;
  margin-top: 50px;
  text-align: center;
}
/* =====================call to action=========*/
.backgroundColorMain {
  background-color: var(--DarkBlueMain);
}
.card_call-to-action {
  background-color: var(--DarkBlueCards);
  border-radius: 16px;
  margin: 150px auto 25px auto;
  width: 90%;
}
.card_call-to-action-text {
  padding: 20px;
}
/* =====================Section=========*/
section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}
.contact-location {
  width: 350px;
  margin: 0 auto;
}

.section_right {
  margin-left: 40px;
  text-align: left;
}
.contact-icon {
  padding-right: 20px;
}
/* =====================footer=========*/
.darkFooterArea {
  background-color: var(--DarkBlueFooter);
}
.dkFooterArea_large-logo {
  padding-top: 45px;
  margin-left: 25px;
}
.about-list ul {
  line-height: 2em;
  margin-left: 36px;
  list-style-type: none;
}
@media screen and (min-width: 480px) {
  /* #stayProductive-text {
  padding: 30px;
} */
}

@media screen and (min-width: 860px) {
  .container_midsection-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    flex-wrap: wrap;
    max-width: 1000px;
  }
  /* Illustration-2 */

  .illustration-2 {
    width: 100%;
  }
  .container_midsection-StayProd {
    display: flex;
    padding: 20px;
  }
  .container_midsection-StayProd {
    display: flex;
  }
}
